<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTAWESOME(? -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!-- GOOGLE FONTS ROBOTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro - MELI</title>
</head>
<body>
    <header class="login-header">
        <div class="header-bounds">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="">
            </div>
        </div>
    </header>
    <main class="main-register">
        <div class="yellow-header"></div>
        <div class="register-wrapper">
            <h1 class="form-title">Registrate</h1>
            <h4 class="form-subtitle ">Se parte de Mercado Liebre</h4>
            <form action="/" method="POST">
                <div class="register-form-left">
                    <h3 class="register-label">Datos</h3>
                    <div class="form-group first-last-name">
                        <label for="name">Nombre y apellido</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="form-group user">
                        <label for="user">Usuario</label>
                        <input type="text" name="user" id="user">
                    </div>
                    <div class="form-group email">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <h3 class="register-label">Fecha de nacimiento</h3>
                    <div class="form-group">
                        <input type="date" id="birthday" name="birthday">
                    </div>
                    <div class="form-group domicilio">
                        <label for="address">Domicilio</label>
                        <input type="text" name="address" id="address">
                    </div>
                </div>
                <div class="register-form-right">
                    <h3 class="register-label">Perfil de usuario</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="buyer" name="buyer" value="buyer" checked>
                            <label for="buyer">Comprador</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="seller" name="seller" value="seller">
                            <label for="seller">Vendedor</label>
                        </div>
                    </div>
                    <h3 class="register-label">Intereses</h3>
                    <div class="checkbox-list">
                        <div class="checkbox-group">
                            <input type="checkbox" id="electro" name="electro" value="electro">
                            <label for="electro">Electro</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="moda" name="moda" value="moda">
                            <label for="moda">Moda</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="hogar" name="hogar" value="hogar">
                            <label for="hogar">Hogar</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="jugueteria" name="jugueteria" value="jugueteria">
                            <label for="jugueteria">Jugueteráa</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="vida" name="vida" value="vida">
                            <label for="vida">Vida sana</label>
                        </div>
                    </div>

                </div>
                <div class="send-container">
                    <div class="error-message-container">
                        <label class="error-msg">Contraseña incorrecta</label>
                    </div>
                    <button type="submit" class="submit-btn">Crear cuenta</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer-container login-footer">
        <section>
            <div class="footer-cards">
                <i class="fa-solid fa-credit-card footer-icons"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </section>
        <section>
            <div class="footer-cards">
                <i class="fa-solid fa-gift footer-icons"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </section>
        <section>
            <div class="footer-cards">
                <i class="fa-solid fa-user-shield footer-icons"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <section class="copyright">
            <div class="copyright-container">
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
            </div>
        </section>
    </footer>






    <script src="https://kit.fontawesome.com/95aa681591.js" crossorigin="anonymous"></script>
</body>
</html>